{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "it": true,
    "describe": true,
    "context": true
  },

  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any": [
      "error",
      {
        "ignoreRestArgs": true
      }
    ]
    // "@typescript-eslint/no-explicit-any": 0
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "mocha"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
    // "plugin:mocha/recommended"
  ],

  "root": true
}
